<template>
    <v-card class="my-2">
        <v-card-title class="text-uppercase">{{title}}</v-card-title>
        <v-card-text>
            <ul>
                <li v-for="(e, i) in data.about" :key="i">
                    <div>{{e}}</div>
                </li>
            </ul>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        name: "Statement",
        props: ['data', 'title'],
        computed: {}
    }
</script>

<style scoped>

</style>